.Button {
    width: 15rem;
    height: 2rem;
    border-radius: 5rem;
    border: 2px solid transparent;
    margin: 1rem;
    background-color: var(--rose-pink); 
    color: var(--night);
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow 0.3s, border-radius 0.3s, border-color 0.3s, background-color 0.3s;
}

    .Button:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-color: var(--aqua);
    }

    .Button.Primary {
        background-color: var(--aqua);
        color: var(--night);
    }
    .Button.Primary:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-color: var(--rose-pink);
    }
    .Button.Secondary {
        background-color: var(--rose-pink);
        color: var(--night);
    }
    .Button.Tetriary {
        background-color: var(--aqua);
        color: var(--night);
    }
    .Button.Tetriary:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-color: var(--rose-pink);
    }

