.NavBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;

    .NavLinks {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 2rem;
        }

        a {
            text-decoration: none;
            color: var(--night);
            padding: 0.5rem 1rem;
        }

        a:hover {
            color: var(--aqua);
        }

    }
}
